{
  "token": "insert token here",
  "description": "insert description for the bot here",
  "colour": "insert embed colour here",
  "prefix": [
    "."
  ],

  "music": {
    "maxduration": 360,
    "volume": 1
  }
}
