{
  "activityType": "listening",
  "activityText": "humans.",
  "token": "insert token here",
  "colour": "73BBFF",
  "prefix": ".",

  "postgre": "insert url here",
  "spotify_client_id": "insert client id here",
  "spotify_client_secret": "insert client secret here"
}
